#uv-green {
    background-color: green;
    color: white;
}

#uv-yellow {
    background-color: yellow
}

#uv-orange {
    background-color: orange;
}

#uv-red {
    background-color: red
}

#uv-purple {
    background-color: purple
}

#max {
    color:grey;
}